.container {
    display: flex;
    flex-flow: column;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.errorItem {
    background-color: salmon;
    padding: 0.2em;
    padding-left: 2em;
    margin: 3px;
    border-radius: 8px;
    border: 3px solid red;
}
.errorItem button {
    float: right;
    margin: 0.2em;
    border-radius: 3px;
    border: none;
}