.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header * {
    margin: 0 0.2em;
}

.number::before {
    content: '#';
    font-size: 0.8em;
}

.number{
    color: rgb(41, 41, 41);
}

.title {
    font-size: x-large;
    font-weight: bold;
    color: rgb(41, 41, 41);
}

.starButton {
    width: 1.8em;
    height: 1.8em;
}