.number::before {
    content: '#';
    font-size: 0.8em;
}

.number{
    color: rgb(41, 41, 41);
    margin: 0 0.2em;
}

.title {
    margin: 0 0.2em;

    font-size: x-large;
    font-weight: bold;
    color: rgb(41, 41, 41);
}