.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.altContainer {
    color: dimgray;
    overflow-wrap: normal;
    max-width: 600px;
    margin: 20px 40px;
}