:root {
    --element-size: calc(150px + 5vw);
}

.container {
    width: var(--element-size);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 4px rgb(188, 185, 185);
}

.container .thumbnail {
    height: var(--element-size);
    margin: 0;
}

.throbber {
    height: var(--element-size);
    width: var(--element-size);
}

.comicLabel img {
    /* Favourites star */
    margin: 0 5px;
    float: right;
}