.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    overflow: auto;
    flex-grow: 1;
}

.container * {
    margin: 0.5em;
}