.container {
    width: 100%;
    background: linear-gradient(to top, rgb(27, 27, 27), rgb(66, 66, 66));
    color: rgb(209, 209, 209);
    font-weight: 600;
    font-size: 2em;
    display: flex;
    flex-direction: row;
}

.chevron {
    height: 1.5em;
    width: 1.5em;
}

.left {
    transform: rotate(90deg);
}
.right {
    transform: rotate(-90deg);
}

.favouritesButton.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.star {
    margin: auto 0;
    margin: auto 5px;
}