.container {
    width: 100%;
    background: white;
    color: dimgray;
    font-weight: 600;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.monthControls {
    display: flex;
    margin: 0 10px;
    align-items: center;
}

.chevron {
    height: 1.5em;
    width: 1.5em;
}

.left {
    transform: rotate(90deg);
}

.right {
    transform: rotate(-90deg);
}

.star {
    height: 48px;
    width: 48px;
}