.button {
	box-shadow: 0 0 2px 2px #0000000f;
	border-radius: 4px;
	padding: 0 25px;
	margin: 9px;
	display: block;
	line-height: 1.2;
	background-color: inherit;
	cursor: pointer;
	user-select: none;
}